.index-page .swiper-slide img {
    width: 100%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #dbb4a3 !important;
}



.index-page .index-search {
    z-index: 10;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
}

.index-page .index-search div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.index-page .index-search input {
    background: #ffffff;
    border: 1px solid #ebebeb;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background: url("../img/search.svg") no-repeat 10px center ;
    background-size: 16px 16px;
    text-indent: 35px;
}

.index-page .index-search span {
    position: absolute;
    left: 50px;
    top: 8px;
}
.index-page .index-item-top{
    width: 100%;
   display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.index-page .index-item-top div{
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.index-page .slider-tit{
    text-align: center;
    margin:10px 0 10px 0;
}
.index-page .index-item-top .iconfont{
   font-size: 20px;
}
.index-page .index-slider{
   background: #ffffff;
    padding: 5px 0 15px 0;
    margin-top: 20px;
}
.index-page .swiper-container2 .swiper-slide{
    font-size: 12px;
    text-align: center;
}
.index-page .swiper-container2 .swiper-slide img{
    height: 100px;
}
.index-page .slider-item-price{
    color: red;
}
.index-page .good-item-tit{
    text-align: center;
    margin:20px 0 10px 0;
}
.index-page .wrapper{
  background: #fafafa;
}

.index-page .dating-theme-tit{
  background: url("../img/bag_bg.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
   padding: 30px 20%;
}
.index-page .dating-theme-tit span{
  background: rgba(255,255,255,0.6);
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.theme-footer {
    box-shadow: 0.2rem 0.2rem 0.75rem #ddd;
    padding: 10px 0;
}
.col-xs-4 {
    width: 33.33333333%;
    text-align: center;
}
.theme-footer li img {
    width: 90%;
}
.theme-footer ul {
    display: flex;
}
.margin-top-bottom-1d5rem {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.margin-auto {
    margin: auto;
}
.padding-0 {
    padding: 0;
}